:root {
    --release-number: "RELEASE 2.5.1";
    --background-color-app: #8c816e;
    --chassis-shadow: #ffffff;
    --mc-blue: #00c3ff;
    --mc-green: #00ff41;
    --panel-black: #080808;
    --mc-led-green: #00ff41;
    --mc-led-red: #ff0000;
    --mc-red-button: #912624;
    --mc-gold: #786b46;
    --border-bottom: #2e2e2e;
    --background-matrix-display: #020202;
    --background-option-menu: #000000;
    --police-size-counter: 30px;
    --police-size-label-counter: 12px;
}