@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@300&family=Roboto:wght@300;400&display=swap');

:root {
    --background-color-app: #3f3f3f;
    --mc-blue: #00c3ff;
    --mc-green: #00ff41;
    --mc-vumeter: #00aef2;
    --panel-black: #080808;
    --mc-led-green: #00ff00;
    --mc-led-red: #ff0000;
    --mc-gold: #ffd700;
    --police-size-counter: 30px;
    --police-size-label-counter: 12px;
}

body {
    background-color: var(--background-color-app);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: roboto, sans-serif;
    overflow: hidden;
}

.chassis-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

/* Style de base commun aux deux côtés */
.side-trim {
    width: 50px;
    height: 750px;
    z-index: 2;
}

/* CÔTÉ GAUCHE : Lumière à gauche, ombre à droite */
.side-left {
    background: linear-gradient(to right, #bdbdbd, #f5f5f5 40%, #9e9e9e 60%, #eeeeee);
    box-shadow: inset -1px 0 5px rgba(0, 0, 0, 0.3), 10px 40px 60px rgba(0, 0, 0, 0.5);
    border-radius: 10px 0 0 10px;
}

/* CÔTÉ DROIT : On inverse le dégradé et l'ombre (Effet Miroir) */
.side-right {
    background: linear-gradient(to left, #bdbdbd, #f5f5f5 40%, #9e9e9e 60%, #eeeeee);
    box-shadow: inset 1px 0 5px rgba(0, 0, 0, 0.3), -10px 40px 60px rgba(0, 0, 0, 0.5);
    border-radius: 0 10px 10px 0;
}

.amplifier-panel {
    width: 1650px;
    height: 750px;
    background: var(--panel-black);
    position: relative;
    border-bottom: 8px solid #1a1a1a;
    box-shadow: 0 60px 120px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-sizing: border-box;
    z-index: 1;
}

.meter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 320px;
    margin-bottom: 20px;
}

.meter {
    width: 550px;
    height: 300px;
    background: var(--mc-vumeter);
    border: 3px solid #000;
    position: relative;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.meter-svg {
    width: 100%;
    height: 100%;
}

.needle {
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 2px;
    height: 268px;
    background: #000;
    transform-origin: bottom center;
    transform: rotate(-55deg);
    z-index: 10;
    transition: transform 0.1s ease-out;
}

/* MODIFICATION ICI POUR PLACER LES LEDS SOUS LE LOGO */
.brand-center {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brand-logo-img {
    height: 85px;
}

.display-area {
    position: absolute;
    top: 360px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.matrix-display {
    width: 950px;
    height: 240px;
    background: #020202;
    border: 3px solid #1a1a1a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--mc-blue);
    font-family: 'bitcount single', sans-serif;
    text-shadow: 0 0 15px var(--mc-blue);
    letter-spacing: 4px;
    position: relative;
    opacity: 1;
}

.vfd-tech-corner {
    position: absolute;
    top: 15px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'bitcount single', sans-serif;
    color: var(--mc-blue);
}

.tech-label {
    font-size: var(--police-size-label-counter);
    font-weight: bold;
    letter-spacing: 1px;
    opacity: 0.7;
}

.tech-data {
    display: flex;
    align-items: baseline;
    gap: 12px;
    margin-top: 2px;
}

#track-count {
    color: var(--mc-led-green);
    font-size: var(--police-size-counter);
    font-weight: 700;
    font-family: 'bitcount single', sans-serif;
    text-shadow: 0 0 10px rgba(0, 255, 0, 0.4);
}

#file-format, #bitrate {
    font-size: 15px;
    opacity: 0.8;
}

#file-format {
    border: 0px solid var(--mc-blue);
    padding: 0 4px;
    border-radius: 3px;
}

.vfd-small {
    font-size: 18px;
    margin-bottom: 5px;
    font-family: 'bitcount single', sans-serif;
}

.vfd-large {
    font-family: 'Bitcount Single', sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 50px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-align: center;
    cursor: pointer;
    text-shadow: 0 0 15px var(--mc-blue);
}

.vfd-info {
    font-family: 'bitcount single', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: var(--mc-blue);
    text-align: center;
    opacity: 0.9;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.knob-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 180px;
    padding-bottom: -10px;
    margin-top: auto;
}

.controls-center-group {
    display: flex;
    align-items: flex-end;
    gap: 25px;
    transform: translateY(10px);
}

.knob-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
}

.knob-outer {
    width: 140px;
    height: 140px;
    background: linear-gradient(145deg,
            #ffffff 0%,
            #e0e0e0 20%,
            #464646 45%,
            #999999 50%,
            #464646 55%,
            #e0e0e0 80%,
            #ffffff 100%);
    border: 2px solid #b0b0b0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:
        0 10px 20px rgba(0, 0, 0, 0.5),
        inset 0 2px 5px rgba(255, 255, 255, 0.8);
    flex-shrink: 0;
}

.knob-inner {
    width: 110px;
    height: 110px;
    background: radial-gradient(circle, #333, #000);
    border-radius: 50%;
    flex-shrink: 0;
}

#input-knob {
    transition: transform 0.1s ease, box-shadow 0.1s ease, filter 0.1s ease;
    cursor: pointer;
}

#input-knob:active {
    transform: scale(0.95);
    filter: brightness(1.2);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5), 0 0 15px rgba(0, 255, 102, 0.3);
}

.label-green {
    color: var(--mc-green);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.button-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    position: relative;
}

.button-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    position: relative;
    gap: -10px;
}

.label-zone {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 12px;
}

.label-zone-option {
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 12px;
}

.small-label {
    color: var(--mc-green);
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.small-label i {
    font-size: 14px;
    color: var(--mc-green);
}

.btn-base {
    background: linear-gradient(180deg, #1d1d1d, #050505);
    border: 5px solid #2c2c2c;
    width: 65px;
    height: 45px;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    box-sizing: border-box;
    box-shadow:
        0 4px 0 #000000,
        inset 0 0 0 4px #000000,
        inset 0 3px 5px rgba(12, 12, 12, 0.5);
}

.btn-base:active {
    transform: translateY(2px);
    box-shadow:
        0 2px 0 #111,
        inset 0 0 0 2px #000000;
}

.power-btn {
    background: #a10202;
}

.power-led {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--mc-led-red);
    box-shadow: 0 0 8px var(--mc-led-red);
    margin-bottom: 5px;
    transition: none;
}

.black-btn {
    background: linear-gradient(180deg, #1d1d1d, #050505);
}

.bottom-label-reset {
    position: absolute;
    top: 100%;
    padding-top: 4px;
    left: 50%;
    transform: translateX(-50%);
    color: #c0c0c0;
    font-weight: bold;
}

#time-display {
    color: var(--mc-led-green);
    font-family: 'bitcount single', sans-serif;
    font-size: var(--police-size-counter);
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 255, 0, 0.4);
    min-width: 70px;
    display: inline-block;
    text-align: right;
}

#vfd-status-icon {
    color: var(--mc-led-green);
    font-size: 30px;
    position: absolute;
    right: 20px;
    bottom: 15px;
    margin: 0;
    height: auto;
    text-shadow: 0 0 12px rgba(0, 255, 0, 0.6);
    z-index: 10;
}

.blink-soft {
    animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0.3;
    }
}

#volume-display {
    color: var(--mc-led-green);
    font-family: 'bitcount single', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 255, 0, 0.4);
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 10;
}

.mute-active {
    opacity: 1 !important;
    color: var(--mc-green);
}

#album-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: #222;
    padding: 10px;
    border: 2px solid #555;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}

#album-popup img {
    max-width: 400px;
    max-height: 400px;
    display: block;
}

#album-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.meter {
    position: relative;
    width: 100%;
    height: 280px;
    background-image: url(img/vumeter-new.png);
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.options-menu {
    display: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: #000000;
    border: 2px solid var(--mc-gold);
    padding: 5px;
    z-index: 100;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    transform: translate(90%, calc(-50% + 100px));
}

.options-row {
    display: flex;
    margin-top: 2px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2px;
}

.gold-divider {
    width: 100%;
    height: 1px;
    background: var(--mc-gold);
    margin-top: 10px;
}

#vfd-mode-indicator {
    position: absolute;
    bottom: 8px;
    left: 20px;
    color: var(--mc-led-green, #00ff66);
    font-size: 12px !important;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(0, 255, 102, 0.5);
    font-family: 'bitcount single', sans-serif;
    display: flex;
    gap: 15px;
    pointer-events: none;
    text-transform: uppercase;
}

.matrix-display.vfd-off {
    opacity: 0 !important;
    transition: opacity 0.4s ease;
}

.meter-container.stealth-mode {
    filter: brightness(0);
    opacity: 0.1;
    transition: all 0.4s ease;
}

.meter-container.stealth-mode .needle {
    display: none;
}

.playlist-item {
    padding: 10px;
    border-bottom: 1px solid #222;
    cursor: pointer;
    transition: background 0.2s;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

.playlist-item:hover {
    background: #1a1a1a;
    color: var(--mc-green);
}

.playlist-item.active-track {
    color: var(--mc-green);
    font-weight: bold;
}

#playlist-popup::-webkit-scrollbar {
    width: 5px;
}

#playlist-popup::-webkit-scrollbar-thumb {
    background: var(--mc-blue);
}

#playlist-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background-color: #000;
    border: 2px solid #555;
    padding: 20px;
}

.options-logo-container {
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

.options-logo {
    max-width: 120px;
    height: auto;
    display: block;
    margin: 0 auto;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}

.push-label-input {
    color: #c0c0c0;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-2235%);
    z-index: 20;
    pointer-events: none;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

.push-label-volume {
    color: #c0c0c0;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(1465%);
    z-index: 20;
    pointer-events: none;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

#track-count {
    font-variant-numeric: tabular-nums;
    display: inline-block;
    min-width: 3ch;
    text-align: left;
    width: 60px;
    margin-right: 38px;
}

.loudness-indicator {
    display: none;
    margin-left: 12px;
    font-size: 15px;
    opacity: 0.8;
    color: var(--mc-blue);
    font-family: 'bitcount single', sans-serif;
    text-shadow: 0 0 15px var(--mc-blue);
    text-transform: uppercase;
}

.loudness-visible {
    display: inline-block !important;
}

/* --- INDICATEURS SOUS LOGO --- */
.status-indicators-row {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 30px;
}

.indicator-group {
    display: flex;
    align-items: center;
    gap: 8px;
}

.led-small {
    width: 12px;
    height: 6px;
    border-radius: 1px;
    background-color: #1a1a1a;
    border: 1px solid #333;
    transition: all 0.2s ease-in-out;
}

.led-red.active {
    background-color: var();
    box-shadow: 0 0 10px var(--mc-led-red), inset 0 0 2px #fff;
}

.led-green.active {
    background-color: var(--mc-led-green);
    box-shadow: 0 0 10px var(--mc-green), inset 0 0 2px #fff;
}

.indicator-label {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 700;
    color: #c0c0c0;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/* --- CURSEURS INTERACTIFS --- */
#track-count,
#time-display,
.vfd-large {
    cursor: pointer;
}

.blink-fast {
    animation: blink-red 0.2s infinite;
    background-color: var(--mc-led-red) !important;
    box-shadow: 0 0 10px var(--mc-led-red) !important;
}

@keyframes blink-red {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

/* Cette classe force l'extinction peu importe les autres réglages */
.force-off {
    opacity: 0 !important;
    visibility: hidden !important;
    transition: opacity 0.4s ease !important;
}

/* Optionnel : si tu veux que les VU-mètres restent bleus mais sans aiguilles */
.meter.force-off .needle {
    display: none !important;
}

.brand-center {
    position: relative; /* Pour permettre la superposition */
}

.alternate-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centre parfaitement sur l'autre */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease;
}

/* Quand le mode "off" est actif sur le logo principal, on affiche l'autre */
#logo-main.force-off {
    opacity: 0;
    visibility: hidden;
}

#logo-alt.active {
    opacity: 1;
    visibility: visible;
}

/* Cette classe éteint le label quand le mode DISPLAY est actif */
.label-off {
    color: #c0c0c0 !important; /* Gris très sombre ou 'transparent' pour éteindre */
    text-shadow: none !important;
    transition: color 0.5s ease;
}