<div class="display-area">
    <div class="matrix-display" id="vfd">
        <div class="vfd-tech-corner left-corner">
            <div class="tech-label track-label">TRACK</div>
            <div class="tech-data track-data">
                <span id="track-count">0/0</span>
                <div class="sub-tech-row">
                    <span id="file-format">---</span>
                    <span id="bitrate">---</span>
                    <span id="vfd-loudness-text"
                        class="loudness-indicator"> | LOUDNESS</span>
                    <span id="vfd-preset-display" class="vfd-eq-preset"></span>
                </div>
            </div>
        </div>

        <div id="volume-display">VOL: 70%</div>

        <div class="vfd-tech-corner right-corner">
            <div class="tech-label">TIME</div>
            <div class="tech-data">
                <span id="time-display">00:00</span>
            </div>
        </div>

        <div class="vfd-large"> <---- Push input to select your
            tracks</div>
        <div class="vfd-info"></div>
        <div id="vfd-status-icon"></div>
    </div>
</div>
