<div class="meter-container">
    <div class="meter">
        <svg class="meter-svg" viewBox="0 0 550 300"></svg>
        <div class="needle" id="needle-l"></div>
    </div>

    <div class="brand-center">
        <img src="assets/img/mc-logo.png" alt="McIntosh"
            class="brand-logo-img" id="logo-main">
        <img src="assets/img/mc-logo-off.png" alt="Alternatif"
            class="brand-logo-img" id="logo-alt">

        <div class="status-indicators-row">
            <div class="indicator-group">
                <div class="indicator-group-power-guard">
                    <div id="led-pg-l"
                        class="led-small led-red"></div>
                    <span class="indicator-label power-guard-label">POWER GUARD</span>
                    <div id="led-pg-r"
                        class="led-small led-red"></div>
                </div>
            </div>
            <div class="indicator-group">
                <span class="indicator-label">MONO</span>
                <div id="led-mono"
                    class="led-small led-green"></div>
            </div>
        </div>
    </div>

    <div class="meter">
        <svg class="meter-svg" viewBox="0 0 550 300"></svg>
        <div class="needle" id="needle-r"></div>
    </div>
</div>
