<div id="album-overlay"></div>
<div id="album-popup">
    <img id="popup-img" src alt="Pochette">
    <div id="no-cover-text" class="no-cover-placeholder">NO COVER</div>
    <div class="logo-mc-cover">
        <img src="assets/img/logo_cover.png" alt="Logo"
            class="options-logo">
    </div>
</div>

<div id="library-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="small-label">AUDIO STORAGE SYSTEM</span>
            <span class="close-btn">&times;</span>
        </div>
        <label for="folder-input" class="scan-label">SCAN
            DIRECTORY</label>
        <input type="file" id="folder-input" webkitdirectory directory
            multiple>
        <div class="file-browser">
            <ul id="file-list"></ul>
        </div>
    </div>
</div>

<div id="reboot-modal" class="reboot-overlay">
    <div class="reboot-content">
        <div class="logo-mc-cover">
            <img src="assets/img/logo_cover.png" alt="Logo"
                class="options-logo">
        </div>
        <h2 class="reboot-title">RESTART PLAYER</h2>
        <div class="reboot-buttons">
            <div class="reboot-btn-group">
                <span class="reboot-label">YES</span>
                <button id="reboot-yes"
                    class="chassis-btn-yes"></button>
            </div>
            <div class="reboot-btn-group">
                <span class="reboot-label">NO</span>
                <button id="reboot-no" class="chassis-btn"></button>
            </div>
        </div>
    </div>
</div>

<div id="eq-popup" class="mc-popup-eq">
    <div class="eq-header">
        <span>10 BANDS EQUALIZER (+- 12dB)</span>
        <div class="close-eq" id="close-eq">&times;</div>
    </div>

    <div class="eq-graph-container">
        <canvas id="eq-curve"></canvas>
    </div>

    <div class="eq-sliders-container">
        <div class="eq-band"><input type="range" min="-12" max="12"
                value="0" step="1"
                data-freq="32"><span>32Hz</span></div>
        <div class="eq-band"><input type="range" min="-12" max="12"
                value="0" step="1"
                data-freq="64"><span>64Hz</span></div>
        <div class="eq-band"><input type="range" min="-12" max="12"
                value="0" step="1"
                data-freq="125"><span>125Hz</span></div>
        <div class="eq-band"><input type="range" min="-12" max="12"
                value="0" step="1"
                data-freq="250"><span>250Hz</span></div>
        <div class="eq-band"><input type="range" min="-12" max="12"
                value="0" step="1"
                data-freq="500"><span>500Hz</span></div>
        <div class="eq-band"><input type="range" min="-12" max="12"
                value="0" step="1"
                data-freq="1000"><span>1k</span></div>
        <div class="eq-band"><input type="range" min="-12" max="12"
                value="0" step="1"
                data-freq="2000"><span>2k</span></div>
        <div class="eq-band"><input type="range" min="-12" max="12"
                value="0" step="1"
                data-freq="4000"><span>4k</span></div>
        <div class="eq-band"><input type="range" min="-12" max="12"
                value="0" step="1"
                data-freq="8000"><span>8k</span></div>
        <div class="eq-band"><input type="range" min="-12" max="12"
                value="0" step="1"
                data-freq="16000"><span>16k</span></div>
    </div>

    <div class="eq-footer">
        <div class="button-option">
            <div class="label-zone-option"><span
                    class="small-label">FLAT</span></div>
            <div class="btn-base black-btn" id="eq-reset-btn"></div>
        </div>
    </div>
</div>

<div id="info-overlay-fix" onclick="this.style.display='none'">
    <img src="assets/info/info2.png" alt="Information">
    <div class="release-version"></div>
</div>
