<div id="options-popup" class="options-menu">
    <div class="label-green"
        style="text-align: center; margin-bottom: 15px;">OPTIONS</div>
    <div class="options-row">
        <div class="button-option">
            <div class="label-zone-option"><span
                    class="small-label">RANDOM</span></div>
            <div class="btn-base black-btn"
                id="random-btn"></div>
        </div>
        <div class="button-option">
            <div class="label-zone-option"><span
                    class="small-label">REPEAT</span></div>
            <div class="btn-base black-btn"
                id="repeat-btn"></div>
        </div>
        <div class="button-option">
            <div class="label-zone-option"><span
                    class="small-label">A - B</span></div>
            <div class="btn-base black-btn"
                id="ab-loop-btn"></div>
        </div>
        <div class="button-option">
            <div class="label-zone-option"><span
                    class="small-label">LIBRARY</span></div>
            <div class="btn-base black-btn"
                id="library-btn"></div>
        </div>
    </div>
    <div class="gold-divider"></div>
    <div class="options-row">
        <div class="button-option">
            <div class="label-zone-option"><span
                    class="small-label">EQUALIZER</span></div>
            <div class="btn-base black-btn"
                id="eq-btn"></div>
        </div>
        <div class="button-option">
            <div class="label-zone-option"><span
                    class="small-label">LOUDNESS</span></div>
            <div class="btn-base black-btn"
                id="loudness-btn"></div>
        </div>
        <div class="button-option">
            <div class="label-zone-option"><span
                    class="small-label">MONO</span></div>
            <div class="btn-base black-btn" id="mono-btn"></div>
        </div>
    </div>
    <div class="gold-divider"></div>
    <div class="options-row">
        <div class="button-option">
            <div class="label-zone-option"><span
                    class="small-label">BASS -</span></div>
            <div class="btn-base black-btn"
                id="bass-down"></div>
        </div>
        <div class="button-option">
            <div class="label-zone-option"><span
                    class="small-label">BASS +</span></div>
            <div class="btn-base black-btn" id="bass-up"></div>
        </div>
    </div>
    <div class="options-row">
        <div class="button-option">
            <div class="label-zone-option"><span
                    class="small-label">TONE RESET</span></div>
            <div class="btn-base power-btn"
                id="tone-reset"></div>
        </div>
    </div>
    <div class="options-row">
        <div class="button-option">
            <div class="label-zone-option"><span
                    class="small-label">TREBLE -</span></div>
            <div class="btn-base black-btn"
                id="treble-down"></div>
        </div>
        <div class="button-option">
            <div class="label-zone-option"><span
                    class="small-label">TREBLE +</span></div>
            <div class="btn-base black-btn"
                id="treble-up"></div>
        </div>
    </div>
    <div class="gold-divider"></div>
    <div class="options-row">
        <div class="button-option">
            <div class="label-zone-option"><span
                    class="small-label">BALANCE L</span></div>
            <div class="btn-base black-btn"
                id="balance-L"></div>
        </div>
        <div class="button-option">
            <div class="label-zone-option"><span
                    class="small-label">BALANCE R</span></div>
            <div class="btn-base black-btn"
                id="balance-R"></div>
        </div>
    </div>
    <div class="gold-divider"></div>
    <div class="options-row">
        <div class="button-option">

            <div class="label-zone-option"><span
                    class="small-label">BACK COLOR</span></div>
            <div class="btn-base black-btn"
                id="background-color-btn">
                <input type="color" id="bg-picker"
                    value="#1b1b1b">
            </div></div>

        <div class="button-option">
            <div class="label-zone-option"><span
                    class="small-label">SHADOW
                    COLOR</span></div>
            <div class="btn-base black-btn"
                id="shadow-color-btn">
                <input type="color" id="shadow-picker"
                    value="#2e2e2e">
            </div>
        </div>
        <div class="button-option">
            <div class="label-zone-option"><span
                    class="small-label">INFO</span></div>
            <div class="btn-base black-btn"
                id="info-vfd-function"
                onclick="openInfo()"></div>
        </div>
    </div>
    <div class="options-logo-container">
        <img src="assets/img/logo_b.png" alt="Logo"
            class="options-logo">
    </div>
</div>

<div id="playlist-popup" class="options-menu">
    <div class="label-green playlist-center-text">Current
        Playlist</div>
    <div id="playlist-items"></div>
</div>
